.container {
    min-height: 1200px;
    width: 100%;
}

.wrapper {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper>h3 {
    font-size: 28px;
    margin: 3rem 0;
    margin-top: 7.5rem;
}

.categoriesAndBlogs {
    display: flex;
    flex-direction: column;
}

.categories {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #333;
    margin-bottom: 2rem;
}


.category {
    cursor: pointer;
    border-radius: 12px;
    padding: 0.25rem 1.5rem;
    border: 1px solid #222;
    text-transform: capitalize;
}

.category.active {
    background-color: #222;
    color: #fff;
}

.blogs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5rem;
}

.blog {
    width: 550px;
    height: 350px;
    position: relative;
    margin-bottom: 2.5rem;
}

.blog>a>img {
    height: 100%;
    width: 100%;
}

.categoryAndMetadata {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.25rem;
}

.blog .category {
    cursor: pointer;
    border-radius: 12px;
    padding: 0.25rem 1.5rem;
    border: 1px solid #222;
    text-transform: capitalize;
}

.metadata {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.blogs>.blog>.blogData {
    color: #000;
    padding: 0 1rem;
}

.blogs>.blog>.blogData>h4 {
    font-size: 32px;
    margin-bottom: 0.75rem;
}

.blogDesc {
    font-size: 18px;
    color: #444;
    line-height: 29px;
    letter-spacing: 0.75px;
    margin: 1.25rem 0 1.5rem 0;
}

/* top right bottom left */

.authorAndCreatedAt {
    display: flex;
    justify-content: space-between;
    color: #444;
}

.authorAndCreatedAt>span>span {
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.readMore{
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.25rem;
    transition: 150ms all ease;
    cursor: pointer;
}

.readMore:hover{
    color: #333;
}

.noBlogsMessage{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #222;
}